@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*----------- Color --------------- */
/*black*/
/*orange*/
/*----------- Font --------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
}

body #content {
  min-height: 700px;
}

/*fixed-navbar*/
body > #content {
  padding: 60px 0px 0;
}

.content .text-muted {
  margin: 20px 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.7em;
}

a {
  color: #fcac45;
  font-weight: 500;
}

a:hover {
  color: black;
  cursor: pointer;
}

body {
  font: 1.6em "Helvetica Neue", "Open Sans", Helvetica, Arial, "Roboto", sans-serif;
  color: #000;
}

.border {
  height: 6px;
  border: 0;
  background-color: red;
  background-image: linear-gradient(to right, #fd7576, #fd7576 25%, #fec85d 25%, #fec85d 50%, #4db8de 50%, #4db8de 75%, #a378fc 75%, #a378fc 100%, #a378fc 100%);
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;
}

.header {
  padding-top: 1em;
}

#logo img {
  width: 60px;
  float: left;
  max-height: 61px;
}

#logo a {
  margin: 0 0 0 .5em;
  color: #fcac45;
  font-weight: 600;
}

#logo a span {
  font-weight: 200;
}

.navbar-nav {
  /*	float: right;*/
  font-size: 1.3em;
}

img.bubble {
  border: .1em solid #ccc;
}

.section {
  padding: 2.5em 0 2em;
}

.background-grey {
  background: #f8f7f5;
}

.background-darkgrey {
  background: #434242;
  color: white;
}

.background-x {
  background: #fec85d;
}

.project-detail {
  background: #f8f7f5;
}

/*Footer Section*/
footer#contact {
  background-color: #434242;
}

footer#contact h3,
footer#contact h4 {
  color: white;
}

footer#contact p {
  color: #ccc;
}

footer#contact a {
  color: #fcac45;
}

footer#contact a:hover {
  color: #000;
  text-decoration: none;
}

footer#contact a.btn-circle {
  padding: 7px 16px;
  border: 1px solid #ccc;
  opacity: .5;
  border-radius: 50%;
  font-size: 2em;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

footer#contact .promo {
  text-align: center;
}

hr {
  margin: 2em 0;
  border-color: #f8f7f5;
  opacity: .2;
}

/*project section*/
.project-wrapper {
  height: 207px;
  max-height: 230px;
  background-size: contain;
  background-position: center;
  border-radius: .3em;
  margin: 1em;
  position: relative;
  transition: all .6s ease-in-out;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.project-wrapper:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.6);
}

.project-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.project-wrapper .detail {
  text-align: center;
  vertical-align: middle;
  line-height: 207px;
  opacity: 0;
  transition: all .3s ease-in-out;
  font-size: .5em;
  font-weight: 500;
}

.project-wrapper .detail:hover {
  color: white;
  opacity: 1;
  font-size: 1.3em;
  color: #fcac45;
}

.project {
  margin-bottom: 1em;
}

.project-title h4 {
  color: #000;
}

.btn-demo, .muted, .btn-sourcecode {
  outline: none;
  padding: .3em 2em;
  text-align: center;
  background: transparent;
  margin: .5em 0;
}

.btn-demo {
  border: 1px solid #a378fc;
  color: #a378fc;
}

.btn-sourcecode {
  border: 1px solid #fec85d;
  color: #fec85d;
}

.muted {
  border: 1px solid #434242;
  color: #000;
}

.bottom_effect {
  background-color: #f8f7f5;
}

.bottom_effect .effect {
  border-top: 3px dotted #434242;
  font-size: 0;
  height: auto;
  line-height: 0;
  /* display: block; */
  width: auto;
  position: relative;
}
