@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

/*----------- Color --------------- */

$main: #000; /*black*/

$highlight: #fcac45;

/*orange*/

$lightgrey: #f8f7f5;
$darkgrey: #434242;
$highlight_1: #fd7576;
$highlight_2: #fec85d;
$highlight_3: #4db8de;
$highlight_4: #a378fc;
$border: #e6e7e9;

/*----------- Font --------------- */

$font-stack: "Helvetica Neue", "Open Sans", Helvetica, Arial, "Roboto",  sans-serif;
$xxlarge: 4em;
$xlarge: 3em;
$large: 1.3em;
$regular: 1em;

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

h4 {
    font-size: $large;
    font-weight: 600;
   
}

body #content {
    min-height: 700px;
}


/*fixed-navbar*/

body > #content {
    padding: 60px 0px 0;
}

.content .text-muted {
    margin: 20px 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.7em;
}

a {
    color: $highlight;
    font-weight: 500;

    &:hover{
    	color: black;
        cursor:pointer;
    }
}




body {
    font: 1.6em $font-stack;
    color: $main;
}

.border {
    height: 6px;
    border: 0;
    background-color: red;
    background-image: linear-gradient( to right, $highlight_1, $highlight_1 25%, $highlight_2 25%, $highlight_2 50%, $highlight_3 50%, $highlight_3 75%, $highlight_4 75%, $highlight_4 100%, $highlight_4 100%);
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    background-size: 50% 100%;
}

.navbar-fixed-top {
   
}

.header {
    padding-top: 1em;
}

#logo {
    img {
        width: 60px;
        float: left;
        max-height: 61px;
    }
    a {
        margin: 0 0 0 .5em;
        color: $highlight;
        font-weight: 600;
        span {
            font-weight: 200;
        }
    }
}

.navbar-nav {
    /*	float: right;*/
    font-size: $large;
}

img.bubble {
    border: .1em solid #ccc;
}

.section {
    padding: 2.5em 0 2em;
}


.background-grey {
     background: $lightgrey;
}

.background-darkgrey {
     background: $darkgrey;
     color: white;
}

.background-x {
     background: $highlight_2;
}

.project-detail {
	background: $lightgrey;
}


/*Footer Section*/

footer#contact {
    background-color: $darkgrey;
    h3,
    h4 {
        color: white;
    }
    p {
        color: #ccc;
    }
    a {
        color: $highlight;
        &:hover {
            color: $main;
            text-decoration: none;
        }
        &.btn-circle {
            padding: 7px 16px;
            border: 1px solid #ccc;
            opacity: .5;
            border-radius: 50%;
            font-size: 2em;
            background: 0 0;
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
        }
    }
    .promo {
        text-align: center;
    }
}

hr {
    margin: 2em 0;
    border-color: $lightgrey;
    opacity: .2;
}


/*project section*/

.project-wrapper {
	height: 207px;
	max-height: 230px;
	background-size: contain;
	background-position: center;
	border-radius: .3em;
	margin: 1em;
	position: relative;
	transition: all .6s ease-in-out;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);

	&:hover{
		cursor: pointer;
		box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.6);
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	.detail {
		text-align: center;
		vertical-align: middle;
		line-height: 207px;
		opacity: 0;
		transition: all .3s ease-in-out;
		font-size: .5em;
		font-weight: 500;

		&:hover {
			color:white;
			opacity: 1;
			font-size: $large;
			color: $highlight;

		};
	}
}
.project {
    margin-bottom: 1em;
}
.project-title {
	

    h4 {
    	color: $main;
    }

}

.btn-demo, .muted, .btn-sourcecode {
    outline: none;
    padding: .3em 2em;
    text-align: center;
    background: transparent;
    margin: .5em 0;
}

.btn-demo {
    border: 1px solid $highlight_4;
    color: $highlight_4;
}

.btn-sourcecode{
    border: 1px solid $highlight_2;
    color: $highlight_2;
}

.muted {
    border: 1px solid $darkgrey;
    color: $main;
}

.bottom_effect {
    background-color: $lightgrey;

    .effect {
        border-top: 3px dotted $darkgrey;
        font-size: 0;
        height: auto;
        line-height: 0;
        /* display: block; */
        width: auto;
        position: relative;
    }
}