/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body #content {
  min-height: 700px;
}

/*fixed-navbar*/
body > #content {
  padding: 60px 0px 0;
}

.content .text-muted {
  margin: 20px 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  line-height: 1.7em;
}

/*----------- Color --------------- */
/*grey*/
/*orange*/
/*----------- Font --------------- */
body {
  font: 1.6em "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
  color: #727878;
}

.border {
  height: 6px;
  border: 0;
  background-color: red;
  background-image: linear-gradient(to right, #fd7576, #fd7576 25%, #fec85d 25%, #fec85d 50%, #4db8de 50%, #4db8de 75%, #a378fc 75%, #a378fc 100%, #a378fc 100%);
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;
}

.navbar-fixed-top {
  top: 6px;
  /*leave space for border*/
}

.header {
  padding-top: 1em;
}

#logo img {
  width: 60px;
  float: left;
}

#logo a {
  margin: 0 0 0 .5em;
  color: #fcac45;
  font-weight: 600;
}

#logo a span {
  font-weight: 200;
}

.navbar-nav {
  /*	float: right;*/
  font-size: 1.3em;
}

img#bubble {
  border: 0.3em solid #727878;
}

.section {
  margin: 40px 0 20px;
  padding-bottom: 10px;
}

/*recent project section*/
.recentproject {
  background: #f3efe0;
}

/*Footer Section*/
footer#contact {
  background-color: #434242;
}

footer#contact h3,
footer#contact h4 {
  color: white;
}

footer#contact p {
  color: #ccc;
}

footer#contact a {
  color: #fcac45;
}

footer#contact a:hover {
  color: #727878;
  text-decoration: none;
}

footer#contact a.btn-circle {
  padding: 7px 16px;
  border: 1px solid #ccc;
  opacity: .5;
  border-radius: 50%;
  font-size: 2em;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

footer#contact .promo {
  text-align: center;
}

hr {
  margin: 2em 0;
  border-color: #f3efe0;
  opacity: .2;
}

/*project section*/
.project-wrapper {
  height: 207px;
  max-height: 230px;
  background-size: cover;
  background-position: center;
  background: #fff;
  border: 1px solid #fcac45;
  border-radius: .3em;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  transition: all .3s ease-in-out;
}

.project-wrapper:hover {
  cursor: pointer;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
}

.project-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.project-wrapper .detail {
  text-align: center;
  vertical-align: middle;
  line-height: 207px;
  opacity: 0;
  transition: all .3s ease-in-out;
  font-size: .5em;
  font-weight: 500;
}

.project-wrapper .detail:hover {
  color: white;
  opacity: 1;
  font-size: 1.3em;
  color: #fcac45;
}

.project-title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px;
}

.project-title h4 {
  color: #4db8de;
}
