<div class="container">
        <div class="row intro section">
            <div class="col-xs-6 col-md-3">
                <img id="bubble" src="images/profilepic.jpg" alt="profile picture" width="200" height="200" class="img-circle img-responsive">
            </div>
            <div class="col-xs-6 col-md-9">
                <h3>Who am I?</h3>
                <p>I am a well rounded web developer with a passion to solve problems. I love the feeling of accomplishment when I solve a problem.</p>
                <div class="social">
                    <a href="https://github.com/rattanakchea" class="btn btn-muted"><i class="fa fa-github"></i> Github</a>
                    <a href="https://www.linkedin.com/in/rattanakchea" class="btn btn-secondary"><i class="fa fa-linkedin"></i> LinkedIn</a>
                </div>
            </div>
        </div>
</div>
