<footer class="section" id="contact">
    <div class="container">
        <div class="row">
            <div class="promo">
                <h3>Contact</h3>
                <p>Is there anything I can help you with? Or just want to get in touch? Please use any of the links below.</p>
                <a href="https://www.linkedin.com/in/rattanakchea"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;&nbsp;
                <a href="https://github.com/rattanakchea"><i class="fa fa-github fa-2x"></i></a>
                <hr>
            </div>
            <div class="col-md-6 text-center">
                <h4>Menu</h4>
                <ul>
                    <li> <a href="#">Home</a></li>
                    <li> <a href="#">Blog</a></li>
                    <li><a href="https://dl.dropboxusercontent.com/u/2122820/resume/RattanakChea_Resume.pdf">Resume</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h4>Archive</h4>
                <ul>
                    <li><a href="http://rattanakchea.github.io/">2014 Website</a> </li>
                    <li><a href="http://rattanakchea.github.io/projects">Project Listing</a></li>
                    <li><a href="http://rattanakchea.github.io/angular-codepen/">Codepen - Angular Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="promo">
                <hr>
                <div style="margin-bottom:30px">
                	<a href="#top" id="totop" class="img-circle btn-circle"><i class="fa fa-angle-double-up"></i></a>
                </div>
                <p>Rattanak Chea | Made with <span class="fa fa-heart"></span> in 2016</p>
            </div>
        </div>
</footer>
