<div class="container">
    <h2>Recent personal projects</h2>
    <ul>
        <li>Match game in TypeScript: <a href="/projects-demo/match-game/index.html">Link</a></li>
        <li>Redbox Clone: <a href="https://rattanakchea.github.io/redbox-clone/">Link</a></li>
    </ul>
</div>

<div class="portfolio section background-grey">
    <div class="container text-center">
        <div class="row">
            <h3>My Projects</h3>
            <p>Click on each thumbnail for more info, source code and demo.</p>
            <i class="fa fa-2x fa-angle-down"></i>
            <div class="row">
                <div class="col-md-4">
                    <p style="text-align:left; padding-left:30px;">
                        <label>Filter : </label>
                        <select ng-model="itemsPerPage" ng-change="parse(itemsPerPage)" style="width:100px;">
                            <option value="3" ng-selected="itemsPerPage == 3"> 3 </option>
                            <option value="6" ng-selected="itemsPerPage == 6"> 6 </option>
                            <option value="9" ng-selected="itemsPerPage == 9"> 9 </option>
                        </select>
                    </p>
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Search ..." ng-model="searchText">
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div ng-repeat="project in projects | filter:searchText | limitTo : itemsPerPage : start">
                <!-- myProject directive -->
                <my-project project="project" , slug="buildSlug(project)"></my-project>
            </div>
        </div>
        <div class="row">
            <button ng-href="" ng-click="prev()" ng-disabled="!canGoBack()" ng-class="canGoBack() ? 'btn-sourcecode' : 'muted' ">Prev</button>
            <button ng-href="" ng-click="next()" ng-disabled="!canGoNext()" ng-class="canGoNext() ? 'btn-demo' : 'muted' ">Next</button>
        </div>
    </div>
</div>