<!-- project directive template -->
<!-- portfolio item -->
<div class="col-sm-6 col-md-4 col-lg-4">

    <div class="project-wrapper" style="background-image: url({{project.links.image}})">
    		<a href="#/projects/{{index}}" ng-click="setCurrentProject(project)">
            <div class="project-title text-center">
                <h4>{{project.title}}</h4>
            </div>
            <div class="detail">
                Read More
            </div>
            </a>
    </div>
</div>
<!-- end p item -->
