<div class="project-detail">
    <div class="container">
        <div class="row section">
            <!-- {{currentProject | json}} -->
        </div>
        <div class="row section" ng-show="currentProject">
            <div class="col-xs-12 col-md-4">
                <img ng-src="{{currentProject.links.image}}" alt="profile image" width="100%" class="project-wrapper">
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <h3>{{currentProject.title}}</h3>
                <p>{{currentProject.description}}</p>
                <hr />
                <div class="row">
                    <p ng-show="currentProject.links.source">
                        <a ng-href="{{currentProject.links.source}}" class="btn-sourcecode">Source Code</a>
                    </p>
                    <p ng-show="currentProject.links.demo">
                      <a ng-href="{{currentProject.links.demo}}" class="btn-demo">Demo
                       </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row section" ng-show="!currentProject">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2>Hola, 404 error </h2>
                <h3>Please check the URL again !</h3>
            </div>
          
        </div>

    </div>
</div>
