<div class="resume">
    <div class="row section">
        <div class="container">
            <h3 class="text-center">My Resume</h3>
            <p><a class="btn" href="https://dl.dropboxusercontent.com/u/2122820/resume/RattanakChea_Resume.pdf">Download PDF</a></p>
        </div>
    </div>
    <div class="row section background-grey">
        <div class="container">
            <h3 class="text-center">Experience</h3>

            <div class="col-md-4 col-xs-4">
            	<h4>Delapp Design</h4>
            	<p>Jan 2016 - Current</p>
            </div>
            <div class="col-md-8 col-xs-8">
            	<h4>Web Developer</h4>
            	<ul>
            		<li>Worked both invidually and in a team to develop custom Wordpress sites in PHP.</li>
            		<li>Solved website, database, upgrading issues for various clients.</li>
            	</ul>
            	<h5>Work</h5>
            	<p><a href="louroe.com">Louroe Electronic</a> | <a href="http://www.bristolbaysockeye.org/">Bristol Bay Sockeye</a>
            	<h5>Technology</h5>
            	<p>PHP, Wordpress, JavaScript, CSS3, HTML5, Git</p>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="container">
            <h3 class="text-center">Education - Coming soon</h3>

            <div class="col-md-4 col-xs-4">
            	<h4>UW</h4>
            	
            </div>
            <div class="col-md-8 col-xs-8">
            	
            </div>
        </div>
    </div>
</div>
