<div class="resume">
    <div class="row section">
        <div class="container">
            <h3 class="text-center">My Resume
            <span>
            <a class="btn btn-primary pull-right" href="https://dl.dropboxusercontent.com/u/2122820/resume/RattanakChea_Resume.pdf">Download PDF</a></span>
            </h3>
            
        </div>
    </div>
    <div class="section background-grey">
        <div class="container">
            <h3 class="text-center">Experience</h3>
            <!-- job 1 -->
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <a href="http://www.delappdesign.com/"><h4>Delapp Design</h4></a>
                    <p>1/2016 - Current</p>
                </div>
                <div class="col-md-8 col-xs-8">
                    <h4>Web Developer</h4>
                    <ul>
                        <li>Worked both invidually and in a team to develop custom Wordpress PHP themes.</li>
                        <li>Solved website, and database issues, server configuration for various clients.</li>
                    </ul>
                    <h5>Work</h5>
                    <p><a href="louroe.com">Louroe Electronic</a> | <a href="http://www.bristolbaysockeye.org/">Bristol Bay Sockeye</a>
                        <h5>Technology</h5>
                        <p>PHP, Wordpress, JavaScript, CSS3, HTML5, Git</p>
                </div>
            </div>
            <!-- job 2 -->
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <h4>Meddle</h4>
                    <p>9/2016 - 5/2016</p>
                </div>
                <div class="col-md-8 col-xs-8">
                    <h4>Web Developer Contract</h4>
                    <ul>
                        <li>Developed social dating web application with AngularJS + Firebase as backend database</li>
                        <li>Wireframe and UI/UX design</li>
                        <li>Unit test with Jasmine and managed product life cycle </li>
                    </ul>
                    <h5>Work</h5>
                    <p><a href="https://meddlestaging.firebaseapp.com/#/">Meddle.</a>
                        <h5>Technology</h5>
                        <p>AngularJS, JavaScript, CSS3, HTML5, Bootstrap, Jasmine, GruntJS, Git</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="container">
            <h3 class="text-center">Education</h3>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <h4>University of Washington, Bothell</h4>
                    <p>3/2011 - 6/2014</p>
                </div>
                <div class="col-md-8 col-xs-8">
                    <a href="http://www.uwb.edu/bscsse"><h4>Bachelor in Computer Science and Software Engineering</h4></a>
                    <h5>Courses</h5>
                    <p>Data Structure & Algorithms, Database Systems, Software Engineering, Operating Systems </p>
                </div>
            </div>
            <!-- cascadia college -->
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <h4>Cascadia College, Bothell</h4>
                    <p>9/2015 - 6/2015</p>
                </div>
                <div class="col-md-8 col-xs-8">
                    <a href="http://www.uwb.edu/bscsse"><h4>Android Mobile Development Certificate</h4></a>
                    <p>Seeing a growing number of mobile applications, I took an Android Design and Development class to further enhance my skills in mobile development and job market readiness.</p>
                    <p>Technology: Java, Android Studio, ASP.net</p>
                </div>
            </div>
        </div>
    </div>
    <!-- technical skills -->
    <div class="row section background-x">
        <div class="container">
            <h3 class="text-center">Technical Skills</h3>
            <h4>Languages</h4>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <span>
                    <span>Javascript (ES5 and ES6)</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </span>
                    <hr/>
                    </span>
                    <span>
                    <span>PHP</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </span>
                    </span>
                    <hr>
                    <p><strong>Front End: </strong></p>
                    <p>HTML5, CSS3, SASS, LESS, TypeScript </p>
                    <hr>
                    <p><strong>Back End: </strong></p>
                    <p>PHP, Java, Ruby, JavaScript, SQL</p>
                    <hr>
                    <p><strong>Testing: </strong></p>
                    <p>Jasmine, Karma, RSpec</p>
                </div>
                
            </div>
            <hr>
            <h4>Frameworks</h4>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p><strong>Front End: </strong></p>
                    <p>JQuery, AngularJS, BackboneJS</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p><strong>Back End: </strong></p>
                    <p>Wordpress, Laravel, CodeIgniter</p>
                    <p>Node.js, ExpressJS, MongooseJS</p>
                    <p>Ruby on Rails</p>

                </div>
            </div>
        </div>
    </div>
</div>
