<div ng-include="'views/partials/_me.html'"></div>
<!-- Recent Project Section -->
<div class="row recentproject section text-center">
    <h3>Recent Projects</h3>
    <p>What I have worked on recently, or you can <a href="/#/projects">View All</a></p>
    <i class="fa fa-2x fa-angle-down"></i>
    <div class="container">
        <!-- project item -->
        <div ng-repeat="project in featuredProjects">
            <!-- {{project}} -->
            <my-project project="project", slug="buildSlug(project)"></my-project> 
        </div>

        <!-- template -->
        <!-- <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="project-wrapper" style="background-image: url('https://placehold.it/350x150')">
                <div class="project-title text-center">
                        <h4>Project Awesome</h4>
                </div>

                <div class="detail">
                    Read More
                </div>
            </div>
        </div> -->
        
    </div>
</div>
