<div class="container">
    <div class="row section">
        <div class="col-xs-6 col-md-3">
            <img src="images/profilepic.jpg" alt="profile picture" width="200" height="200" class="img-circle img-responsive bubble">
        </div>
        <div class="col-xs-6 col-md-9">
            <h3>Who am I?</h3>
            <p>I am a well rounded web developer with a passion to solve problems. I love the feeling of accomplishment when I solve a problem.</p>
            <div class="social">
                <a href="https://github.com/rattanakchea"><i class="fa fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/rattanakchea"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>
