<div ng-include="'views/home/_me.html'"></div>

<div class="row" style="background-color: #EEE; padding: 1em;">
  <div class="container">
    <div class="col-xs-12">
      <img src="https://lh3.googleusercontent.com/GxTWNQxo8AxAcWAp4l95gPZfKnybghrfP5ivDy8mUfyEfivocV8qU5-ek1XOoJRFfcsw=w300-rw"
        alt="linksys" width="60px">
      <h4> <a href="https://play.google.com/store/apps/details?id=com.cisco.connect.cloud&hl=en">Linksys Mobile App</a></h4>
      <ul>
        <li>Work in team to build UI components for a hybrid mobile app using Backbone.js and Cordova while on staff assignment
          at Belkin to support the new Linksys Velop mesh network router</li>
        <li>Interacted with embedded firmware and an existing cloud service via a JNAP based interface</li>
        <li>Debugged UI related issues discovered through extensive functional and regression testing</li>
        <li>Application infrastructure based on custom Backbone.js, Aura.js, Cordova, Grunt, SCSS</li>
      </ul>
    </div>
  </div>
</div>

<div ng-include="'views/home/featured-projects-section.html'"></div>
<div ng-include="'views/home/recent-project-section.html'"></div>