/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");*/

//@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic|Open+Sans:400,700);

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400");

/*----------- Color --------------- */

$main: #000; /*black*/

$highlight: #fcac45;

/*orange*/

$lightgrey: #d2d1cf;
$darkgrey: #434242;
$highlight_1: #fd7576;
$highlight_2: #fec85d;
$highlight_3: #4db8de;
$highlight_4: #a378fc;
$border: #e6e7e9;

/*----------- Font --------------- */
$font-stack: "Source Sans Pro", sans-serif;
$xxlarge: 4em;
$xlarge: 3em;
$large: 1.4em;
$regular: 1.2em;