/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");*/

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic|Open+Sans:400,700);

/*----------- Color --------------- */

$main: #000; /*black*/

$highlight: #fcac45;

/*orange*/

$lightgrey: #f8f7f5;
$darkgrey: #434242;
$highlight_1: #fd7576;
$highlight_2: #fec85d;
$highlight_3: #4db8de;
$highlight_4: #a378fc;
$border: #e6e7e9;



/*----------- Font --------------- */
$font-stack: Helvetica,  "0pen Sans",  sans-serif;
$xxlarge: 4em;
$xlarge: 3em;
$large: 1.3em;
$regular: 1em;